body{
    font-family: 'Karla', 'sans-serif';
    margin:0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    height: 75px;
}

.header--logo{
    display: flex;
    align-items: center;
}

.header--logo-img{
    width:30px;
    margin:7px;
}

.header--logo-txt{
    font-weight: 700;
    font-size: 20px;
}

.header--subtitle{
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
    font-size: 12px;
}

.meme-form{
    padding: 35px 20px;
    display: grid;
    grid-template-areas:
        "input-row-1 . input-row-2"
        "button button button";
    grid-template-columns: 1fr 4% 1fr;
    grid-template-rows: 35px 40px;
    row-gap: 15px;

}

#meme-form--row-1{
    grid-area: input-row-1;
}

#meme-form--row-2{
    grid-area: input-row-2;
}

#meme-form--submit{
    grid-area: button;
}

.meme-form--button{
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    border: none;
    color:white;
    font-weight: 700;
    font-size: 16px;
}

.meme-form--button:hover{
    background: linear-gradient(90.41deg, #9c2cc1 1.14%, #b143d6 100%);
}